SQL\ Project\ Submission\ Template.pptx
Sakila\ slides.pdf
Untitled.ipynb
question1.csv
question2.csv
question3.csv
question4.csv
question1.xlsx
question2.xlsx
question3.xlsx
question4.xlsx
Image1.png
Image2.png
Image3.png
Image4.png